$dark-primary = alpha(black, 0.87);
$dark-secondary = alpha(black, 0.54);

$light-primary = alpha(white, 0.87);
$light-secondary = alpha(white, 0.60);

$font-stack = Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
